@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model CustomerViewModel
@{
    ViewData["Title"] = "Profile";
}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-block">
                <h2>Basic Info</h2>
                <div class="mb-2">
                    @Model.FullName
                </div>
                <div class="mb-2">
                    Orders: @Model.Orders.Count
                </div>
                <div class="mb-2">
                    E-mail:  @Model.Email
                </div>
                <div class="mb-2">
                    Number:  @Model.PhoneNumber
                </div>
                <div class="mb-2">
                    <a href="#" class="btn btn-success">Add new order</a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">

        <div class="card">
            <div class="card-block">
                <div class="tab-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Personal Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Notes (<span id="notescount">@Model.Notes.Count</span>)</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active fade show" id="home" role="tabpanel">
                            @if (Model.Orders.Any())
                            {
                                @await Html.PartialAsync("~/Views/Order/_List.cshtml", Model.Orders.ToPagedList())
                            }
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel">
                            <div class="card-block">
                                <div class="mt-4">
                                    <span>Full Name:</span> <strong>@Model.FullName</strong>
                                </div>
                                <div class="mt-4">
                                    <span>Date of Birth:</span> <strong>@Model.DisplayBirthDate</strong>
                                </div>
                                <div class="mt-4">
                                    <span>Gender:</span> <strong>@Model.DisplayGender</strong>
                                </div>
                                <div class="mt-4">
                                    <span>City:</span> <strong>@Model.CityName</strong>
                                </div>
                                <div class="mt-4">
                                    <span>ID Number</span> <strong>@Model.PassportIdNumber</strong>
                                </div>
                                <div class="mt-3">
                                    <span>Visa Permition</span>
                                    @if (Model.ActiveVisa)
                                    {
                                        <div class="btn-group btn-group--colors">
                                            <label class="custom-control custom-checkbox" title="@Model.VisaDaysLeft">
                                                <input type="checkbox" checked disabled class="custom-control-input" />

                                                <span class="custom-control-indicator"></span>

                                            </label>
                                        </div>
                                    }
                                </div>
                                <div class="mt-3">
                                    <span>Phone Number</span> <strong>@Model.PhoneNumber</strong>
                                </div>
                                <div class="mt-3">
                                    <span>E-mail</span> <strong>@Model.Email</strong>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="messages" role="tabpanel">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="hidden" value="@Model.Id" id="customerId" />
                                    <textarea class="form-control" id="noteText">

</textarea>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success" id="addNote">Add</button>
                                </div>
                            </div>
                            <div class="notes">
                                @foreach (var item in Model.Notes)
                                {
                                    <div class="note mt-3">
                                        <strong>@item.AddDate.ToShortDateString()</strong>
                                        <br />@item.Text
                                    </div>
                                }
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts{
    <script>
var noteUrl="@Url.Action("AddNote")";
    </script>

}